@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #0f141e;
    background: #f2f2f2;

}

a {
    color: #0f141e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:visited {
    color: #504c57;
}

.container {
    max-width: 800px;
    margin: auto;
    padding-top: 40px;
}

.info {
    margin-bottom: 20px;
}

.avatar {
    width: 250px;
    border-radius: 15px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.45);

}

.info-text p {
    font-style: italic;
    font-weight: bolder;
    margin: 0;
    padding-bottom: 5px;
}

.info-text h3 {
    font-size: 20px;
    margin-bottom: 15px;
}


.info-text {
    background: #b8e9be;
    color: #4e4e8a;
}

.contact {
    font-style: italic;
    font-weight: bolder;
    background: #b5f8bb;
}

.card {
    border: 1px solid black;
    border-radius: 20px;
    background-color: #fff;
    padding: 15px 20px;
    margin-bottom: 25px;
}



.card h2 {
    margin-bottom: 5px;
}

.bg-yellow {
    background: #fff9dc;
}

.bg-red {
    background: #ffe5e5;
}

.bg-green {
    background: #e5ffe7;
}

.btn {
    background: #504c57;
    color: #e5ffe7;
    padding: 15px;
    font-size: 18px;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.list {
    padding: 0 20px;
}

.list li {
    color: #86868f;
    margin-bottom: 10px;
}

.soft-list {
    list-style: none;
    padding: 0;
}

.soft-list li {
    margin-bottom: 5px;
    border-bottom: 2px solid #504c57;
    padding-bottom: 5px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 10px;
    text-align: center;
}

.table td:nth-child(2), .table td:nth-child(3) {
    /* padding-bottom: 10px; */
    color: #86898f;
    /* text-align: center; */

}

.contact h2 {
    text-align: center;
}

.contact-group label {
    display: block;
    font-style: 14px;
    color: #86898f;
}

.contact-group input, .contact-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
}
